@CHARSET "UTF-8";

body {
	background-image:url(/images/background.jpg);
	background-repeat:repeat;
}

table {
	border-collapse:collapse;
}

table, table td, table th {
	border:1px solid black;
}

table td, table th {
	padding:4px;
}

.odd {
	background-color:#EFEBE7;
}

.even {
	background-color:#E0DDD9;
}

#map, #map td, #map img {
	padding:0;
	margin:0;
}

#map td {
	width:32px;
	height:32px;
}

#debug {
	margin-top:40px;
	font-size:0.8em;
	border:1px dotted black;
	padding:4px;
}

#debug-header {
	font-weight:bold;
	text-decoration:underline;
}

#debug div {
	padding:2px;
}

#debug div:hover {
	color:lightgrey;
	background-color:black;
	border-color:lightgrey;
}

.cell-info {
	position: absolute;   
	visibility : hidden;
	border: 1px solid Black;
	padding: 10px;
	font-family: Verdana, Arial;
	font-size: 10px;
	background-color: #FFFFCC;
}