/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:auto;
	margin-top:20px;
	font-size: 9pt;
	text-align: left;
	border-collapse:collapse;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #E0D8C1;
	border: 2px solid #B29393;
	font-size: 9pt;
	padding: 2px;
	vertical-align:bottom;
	color: #462244;
}
table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	border:1px solid #B29393;
}
table.tablesorter tbody tr.odd td, div.odd {
	background-color:#E0D8C1;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
	background-position: right top;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
	background-position: right bottom;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}