@CHARSET "UTF-8";

body {
	background-color:#F0EEE9;
}

a {
	color:#462244;
}

img {
	border:none;
}

fieldset, legend, input, select {
	border:1px solid #462244;
	color: #462244;
}
	
fieldset {
	margin-bottom:15px;
}

legend, input, select {
	background-color:#E0D8C1;
}

table#map {
	border-collapse:collapse;
}

table#map, table#map td, table#map th {
	border:1px solid black;
}

table#map td, table#map th {
	padding:4px;
}

div.even {
	background-color:#E0DDD9;
}

.left-column, #search_forms, #search_results, #map {
	float:left;
}

#search_forms input[type=text] {
	width:40px;
}

#search_forms select {
	max-width:140px;
}

table#map td {
	width:32px;
	height:32px;
	padding:0;
	vertical-align:top;
	background-color:#E0DDD9;
}

table#map td img {
	float:left;
	margin:0;
}

#debug {
	clear:both;
	margin-top:40px;
	font-size:0.8em;
	border:1px dotted black;
	padding:4px;
}

#debug-header {
	font-weight:bold;
	text-decoration:underline;
}

#debug div {
	padding:2px;
}

#debug div:hover {
	color:lightgrey;
	background-color:black;
	border-color:lightgrey;
}

.tooltip {
	font-family: Verdana, Arial;
	font-size: 10px;
	display:none;
}

table#map td.lieu {
	background-color:#AE88AE;
}

.ami, .ami a, .ennemi, .ennemi a {
	font-weight:bold;
}

.ami, .ami a {
	color:green;
}
.ennemi, .ennemi a {
	color:red;
}



fieldset#coordonnees input[type="text"] {
	width:30px;
}

#flash-player {
	margin:auto;
}

#navigator {
	padding:6px;
	margin-top:20px;
	margin-left:20px;	
}

#navigator img {
	border:1px solid white;
}

#navigator img:hover {
	border:1px solid #509a48;
}

#navigator #up, #navigator #down {
	margin-left:12px;
}

#navigator #right {
	margin-left:8px;
}

ul#menu {
	list-style-image:none;
}

ul#menu li {
	display:inline;
}

ul#menu li a {
	border: 1px solid #462244;
	padding:3px;
	background-color:#E0D8C1;
	text-decoration:none;
}