@CHARSET "UTF-8";

body {
	background-repeat:repeat;
}

table#map {
	border-collapse:collapse;
}

table#map, table#map td, table#map th {
	border:1px solid black;
}

table#map td, table#map th {
	padding:4px;
}

div.even {
	background-color:#E0DDD9;
}

#customize-map, #map {
	float:left;
}

table#map td {
	width:32px;
	height:32px;
	padding:0;
	vertical-align:top;
	background-color:#E0DDD9;
}

table#map td img {
	float:left;
	margin:0;
}

#debug {
	clear:both;
	margin-top:40px;
	font-size:0.8em;
	border:1px dotted black;
	padding:4px;
}

#debug-header {
	font-weight:bold;
	text-decoration:underline;
}

#debug div {
	padding:2px;
}

#debug div:hover {
	color:lightgrey;
	background-color:black;
	border-color:lightgrey;
}

.tooltip {
	font-family: Verdana, Arial;
	font-size: 10px;
	display:none;
}

table#map td.lieu {
	background-color:#AE88AE;
}

table#map td.ami {
	background-color:green;
}

table#map td.ennemi {
	background-color:red;
}

fieldset#coordonnees input[type="text"] {
	width:30px;
}